.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}

.testimonial {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #004193;
  border-radius: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.carousel-track {
    display: flex; /* Usando flexbox para os itens do carrossel */
}

.carousel-item {
    display: flex; /* Usando flexbox para centralizar conteúdo */
    flex-direction: column; /* Alinhando os elementos verticalmente */
    justify-content: space-between; /* Espaço entre os elementos */
    flex: 1; /* Itens ocupam o mesmo espaço */
} 
 
.testimonial {
    display: flex;
    flex-direction: column; /* Alinhando o conteúdo na vertical */
    justify-content: center; /* Centralizando verticalmente */
    align-items: center; /* Centralizando horizontalmente */
    text-align: center; /* Centralizando texto */
    padding: 20px; /* Adicionando um pouco de espaçamento */
	  height: 100%;
} 
 

.cargo {
  color: #004193;
}

.carousel-item h3 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

.testimonial img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

@media (max-width: 991px) {
  .carousel-item {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .carousel-item {
    min-width: 100%;
  }
}
